body {
  background-color: cadetblue;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: cadetblue;
  text-align: center;
}
.assign {
  background-color: cadetblue;
  display: flex;
  padding: 10px;
  margin: 10px;
}
.assign img {
  width: 200px;
  padding: 10px;
}
